<%= f.label :notes, "Additional Instructions for TechTable:" %>
<%= f.text_area :notes %>
<p class="help-text">(Any instructions for P&amp;C should be directed to <%= mail_to "peopleandculture@opentable.com" %>)</p>
