@buffet:registry=http://artifactory.otenv.com/artifactory/api/npm/npm-virtual/
//artifactory.otenv.com/artifactory/api/npm/npm-virtual/:_auth=amxlc3RlcjpBUDN0NEE1aTR6TnROU0pESFdGMWplQVZ0TjJjdm9WcTRXNXJQRQ==
//artifactory.otenv.com/artifactory/api/npm/npm-virtual/:email=jlester@opentable.com
//artifactory.otenv.com/artifactory/api/npm/npm-virtual/:always-auth=true
