<div style="font-family: helvetica; margin: 25px; width: 550px">
  <p>P&C Ops Team: <%= @worker.cn %>'s contract will end in 3 weeks.
  <p>
    The worker end date for <%= @worker.cn %> with associate ID of <%= @worker.current_profile.adp_employee_id %> is <%= @worker.contract_end_date.strftime('%b %e, %Y') %>. Please take any required action to update this worker's contract or proceed with termination.
  </p>
</div>
