<div id='filterrific_results'>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th>Business Title</th>
        <th>Department</th>
        <th>Location</th>
        <th>Worker Type</th>
        <th>Manager</th>
        <th>Original Hire Date</th>
        <th>Contract End Date</th>
        <th>Termination Date</th>
        <% if can? :read, :offboard %>
          <th>ADP Status</th>
          <th>Offboarded Date</th>
          <th>Leave Start Date</th>
          <th>Leave Return Date</th>
        <% end %>
      </tr>
    </thead>

    <% if @employees.count > 0 %>
      <tbody>
        <% @employees.each do |e| %>
          <%= render partial: "employee_table_row", locals: { e: e } %>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
