<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Worker Status</th>
      <th>Business Title</th>
      <th>Location</th>
      <th>Worker Type</th>
      <th>Manager</th>
      <th>Start Date</th>
      <th>Contract End Date</th>
      <th>Termination Date</th>
    </tr>
  </thead>

  <% if @employees.count > 0 %>
    <tbody>
      <% @employees.each do |e| %>
        <tr>
          <%= render partial: "employee_table_row", locals: { e: e } %>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
