---

default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: 172.16.5.3
  username: <username> # Check with developer for pgsql creds
  password: <password> # Check with developer for pgsql creds

development:
  <<: *default
  database: mezzo_development

test:
  <<: *default
  database: mezzo_test
#
production:
  <<: *default
  database: mezzo_production
  username: mezzo
  password: <%= ENV['MEZZO_DATABASE_PASSWORD'] %>
