# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 609317429d3313327edaa33056d5d08c38e07721c37442a8d0482bfb0f31bae03dfaed842983504e729a02b356544939bebf63f4d4d3eee4e26aefb81c664a51
  ad_host: 192.168.200.6
  ad_svc_user: # Get this from ITOPS
  ad_svc_user_passwd: # Get this from ITOPS
  ad_ou_base: ou=Users,ou=OT,dc=ottest,dc=opentable,dc=com
  xml_post_url: https://www.google.com/
  wd_xml_creds: user@tenant:password

test:
  secret_key_base: 2098f8c7e652f72abceb2543c201ad061093b40b782eb54c52f9dc1dfb05651ca5e89f9a295a51e3addeaf22168c00503a13d94fffc68b4c62a0c91f6e9520c4
  ad_host: 192.168.200.6
  ad_svc_user: # Get this from ITOPS
  ad_svc_user_passwd: # Get this from ITOPS
  ad_ou_base: ou=Users,ou=OT,dc=ottest,dc=opentable,dc=com
  xml_post_url: https://www.google.com/
  wd_xml_creds: user@tenant:password

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
