<%= image_tag attachments['pandc.png'].url -%>
<div style="font-family: helvetica; margin: 50px; width: 500px">
  <p>Hello,</p>

  <p>Attached you will find a list of employees and contingent workers offboarded within the last week. If you have any questions, please e-mail <%= mail_to "peopleandculture@opentable.com." %></p>
</div>
