<div style="font-family: helvetica; margin: 50px; width: 500px">
  <p>Hello,</p>

  <p>Attached you will find a list of employees and contingent workers that need updates to termination or contract end information.</p>
</div>
