#new-employee
  margin: 0 25%
  .section
    border: 1px solid grey
    padding: 1em
    margin: 2em 0
    background-color: #def0fc
  .date-select
    select
      width: 32.9%
  .danger
    background-color: #fce6e2
