<% if flash[:notice] %>
  <div class='primary callout' id='flash-notice' data-closable>
    <%= notice %>
    <button class='close-button' aria-label='Dismiss alert' type='button' data-close>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class='alert callout' data-closable>
    <%= alert %>
    <button class='close-button' aria-label='Dismiss alert' type='button' data-close>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
<% end %>
